language: c
sudo: false

env:
  BYOND_MAJOR="509"
  BYOND_MINOR="1318"

  LIBSODIUM_VERSION="1.0.8"
  LIBZMQ_VERSION="4.1.4"

cache:
  directories:
    - $HOME/BYOND-${BYOND_MAJOR}.${BYOND_MINOR}
    - $HOME/devroot

addons:
  apt:
    packages:
      - cmake
      - gcc-multilib
      - g++-multilib
      - libc6-i386
      - libgcc1:i386
      - libstdc++6:i386

before_script:
  - travis/install-byond.sh
  - travis/install-libsodium.sh
  - travis/install-libzmq.sh

script:
    #  - export CPPFLAGS="-I$HOME/devroot/include"
    #  - export LDFLAGS="-L$HOME/devroot/lib"
  - export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:$HOME/devroot/lib"
  - cmake -DCMAKE_PREFIX_PATH="$PATH/devroot" libdmzmq
  - make

  - source $HOME/BYOND-${BYOND_MAJOR}.${BYOND_MINOR}/byond/bin/byondsetup
  - scripts/dm.sh -DTESTING dmzmq.dme

  - DreamDaemon dmzmq.dmb -trusted 2>&1 | tee dmzmq.log
  - "grep '## DMUT: RESULT: PASSING' dmzmq.log"
